---
server:
    install: '1'
    timezone: Europe/Dublin
    locale: en_US.UTF-8
vagrant_local:
    install: '1'
    vm: { base_box: trusty64, hostname: default, ip: 192.168.33.99, memory: '512', sharedfolder: ./, useVagrantCloud: '1', syncType: nfs }
nginx:
    install: '1'
    docroot: /vagrant
    servername: myApp.vb
mysql:
    install: '1'
    root_password: '123'
    database: db
    user: user
    password: password
    dump: ''
mongodb:
    install: '1'
solr:
    install: '1'
    port: '8983'
    version: 5.2.0
    cloud_mode: '0'
php:
    install: '1'
    ppa: php5-oldstable
    packages: [php5-cli, php5-intl, php5-mcrypt, php5-mysql, php5-mongo]
    peclpackages: [mongo, mysql]

